# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
venv/
ENV/

# Environment variables
.env
.env.*
!.env.example

# IDE
.vscode/
.idea/
*.swp
*.swo

# Logs
logs/
*.log

# Local development
.DS_Store

# Service account key
google-credentials.json

# Frontend
node_modules/
.next/
.out/
build/

# Local env files
.env*.local

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Local Netlify folder
.netlify

# Local DB and virtual environments
*.db
.venv/
backend/.venv/
backend/shepherd.db
